<mat-form-field>
  <mat-label>{{ 'SETTINGS.CURRENCY' | translate }}</mat-label>
  <input type="text" matInput [matAutocomplete]="auto" [ngModel]="currentSearch()"
    (ngModelChange)="onSearchChange($event)" (blur)="onBlur()" />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onCurrencySelected($event)">
    @for (currency of filteredCurrencies(); track currency.code) {
    <mat-option [value]="currency.code">
      ({{ currency.code }}) {{ currency.name }}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>