<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">{{ 'SIDEBAR.DASHBOARD' | translate }}</a>
      <a mat-list-item routerLink="/budget">{{ 'SIDEBAR.BUDGET' | translate }}</a>
      <a mat-list-item routerLink="/transactions">{{ 'SIDEBAR.TRANSACTIONS' | translate }}</a>
      <a mat-list-item (click)="openSettingsDialog()">{{ 'SIDEBAR.SETTINGS' | translate
        }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <app-header></app-header>
      <span class="toolbar-spacer"></span>
      <button type="button" aria-label="Open user menu" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/profile">Profile</a>
      <button mat-menu-item type="button" (click)="logout()">Logout</button>
    </mat-menu>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>