.sidenav-container {
  height: 100%;
  background: transparent;
}

.sidenav {
  width: 200px;
  background: transparent;
  --mat-sys-on-surface: #fff !important;
}

.sidenav .mat-toolbar {
  background: transparent;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: transparent;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.dialog-button {
  color: var(--mat-sys-on-surface);
}