<button class="background-picker" [matMenuTriggerFor]="backgroundMenu">
  <div class="background-preview" [ngStyle]="{ background: selectedBackground() }"></div>
  <span class="label">{{ 'SETTINGS.VISUAL.BACKGROUND_SELECT' | translate }}</span>
</button>

<mat-menu #backgroundMenu="matMenu">
  @for(background of backgrounds; track background; let i = $index){
  <button
    mat-menu-item
    (click)="updateSelectedBackground(background)"
    [attr.aria-label]="'SETTINGS.VISUAL.BACKGROUND_NAME' | translate: {index: i + 1}"
    [class.selected]="selectedBackground() === background"
  >
    <div class="menu-item-content">
      <div class="background-swatch" [ngStyle]="{ background: background }"></div>
      <span class="background-label">{{ 'SETTINGS.VISUAL.BACKGROUND_NAME' | translate: {index: i + 1} }}</span>
      @if (selectedBackground() === background) {
      <mat-icon class="check-icon">check</mat-icon>
      }
    </div>
  </button>
  }
</mat-menu>
