<button class="background-picker" [matMenuTriggerFor]="backgroundMenu">
  <div class="background-preview" [ngStyle]="{ background: selectedBackground() }"></div>
  <span class="label">{{ 'SETTINGS.VISUAL.BACKGROUND_SELECT' | translate }}</span>
</button>

<mat-menu #backgroundMenu="matMenu">
  @for(background of backgrounds;track background ){
  <button
    mat-menu-item
    class="background-item"
    (click)="updateSelectedBackground(background)"
    [ngStyle]="{ background: background }"
    [attr.aria-label]="'SETTINGS.VISUAL.BACKGROUND_SELECT' | translate"
  >
  </button>
  }
</mat-menu>