<div class="list-container">
  <app-loader [loading]="loading()"></app-loader>

  @if (total() > 0) {
  <div class="transaction-table__wrapper">
    <table mat-table [dataSource]="transactions()" class="transaction-table mat-elevation-z2" matSort
      [matSortActive]="sort().column" [matSortDirection]="sort().order" matSortDisableClear
      (matSortChange)="onSortChange($event)">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="toggleAll.emit($event.checked)"
            [checked]="allSelected()"
            [indeterminate]="someSelected()"
            [aria-label]="allSelected() ? 'Deselect all transactions' : 'Select all transactions'">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="toggleSelection.emit(item.id)"
            [checked]="selectedIds().has(item.id)"
            [aria-label]="('TRANSACTIONS.SELECT' | translate) + ' ' + item.title">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'TRANSACTIONS.DATE' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.date | date : 'mediumDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'TRANSACTIONS.TITLE_LABEL' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.title }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'TRANSACTIONS.CATEGORY' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">
          {{ 'TRANSACTIONS.CATEGORIES.' + item.category.toUpperCase() | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'TRANSACTIONS.TYPE' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-chip [color]="item.type === 'income' ? 'primary' : 'warn'" selected>{{
            'TRANSACTIONS.TYPES.' + item.type.toUpperCase() | translate
            }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'TRANSACTIONS.AMOUNT' | translate }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.amount | appCurrency }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button type="button" color="primary" (click)="edit(item)"
            [attr.aria-label]="'TRANSACTIONS.EDIT' | translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button type="button" color="warn" (click)="remove(item.id)"
            [attr.aria-label]="'TRANSACTIONS.REMOVE' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <thead>
        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      </thead>
      <tbody>
        <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
      </tbody>
    </table>
  </div>

  } @else if (!loading()) {
  <div class="empty-state">
    <mat-icon>search_off</mat-icon>
    <p>{{ 'TRANSACTIONS.NO_RESULTS' | translate }}</p>
  </div>
  }
</div>